body {
  height: 100vh;
}

#root, .App {
  height: 100%;
}

.App {
  text-align: center;
  font-family: "Lucida Console", Times, serif;
  font-style: normal;
  font-size: 22px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #201f4a; /*#282c34*/
  /*min-height: 100vh;*/
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.App-link {
  color: #09d3ac;
}

div{
  /*outline: 1px solid black;*/
  min-height: 200px;
  text-align: justify;
}

.bandeau{
  padding: 50px;
}

.contenu{
  margin-top: 170px;
}

.carte{
  background-color: #da267c; /*#961454;*/
  color: white;
  display: flex;
  flex-direction: column;
}

.contenu-bandeau{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.camembert{
  background-color: #e15b7a; /*#c1627a;*/
}

.image{
  position: absolute;
  left : 5px;
  top : 5px;
}

/* p{
  padding-left: 50px;
  /*padding-right: 50px; */
  /* flex-grow: 1; */
  /* width: 50%; */
/*} */

.texte-droite{
  padding-left: 50px;
}

.texte-gauche{
  padding-right: 50px;
}

.contenu-camemberts{
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe{
  min-width: 50%;
}

.conclusion{
  background-color: #ed9a68;
}

.ancres{
  background-color: #201f4a;
  /* font-size: 20px; */
  display: flex;
}

.img-carte{
  width: 50%
}